.container {
  display: flex;
}

.sidebar {
  flex: 0 0 200px; /* This will make the sidebar have a fixed width of 200px */
  margin: 0;
  padding: 20px;
  list-style-type: none;
  background-color: #f9f9f9;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  display: block;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  color: black;
  background-color: #e9e9e9;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar-item:hover {
  background-color: #d9d9d9;
}

.content {
  flex: 1; 
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}
